.profile-container {
  padding: 74px 0 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-container__title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 123px;
  max-width: 410px;
}

.profile-container__form {
  max-width: 410px;
  width: 100%;
}

.profile-container__inputs-container {
  margin-bottom: 220px;
  list-style: none;
}

.profile-container__input-container {
  display: flex;
  gap: 16px;
  padding-bottom: 16px;
  margin-bottom: 17px;
  border-bottom: 1px #e8e8e8 solid;
}

.profile-container__input-container:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
}

.profile-container__input-label {
  font-size: 11px;
  font-weight: 500;
}

.profile-container__input {
  border: none;
  outline: none;
  flex-grow: 1;
  text-align: right;
  font-size: 11px;
  font-weight: 400;
}

.profile-container__form-button {
  display: block;
  border: none;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  background: transparent;
  margin: 0 auto;
}

.profile-container__form-button_type_exit {
  color: #ff4062;
  font-weight: 500;
}

.profile-container__form-button:first-of-type {
  margin-bottom: 16px;
}

@media screen and (max-width: 768px) {
  .profile-container {
    padding: 236px 0 269px;
  }

  .profile-container__title {
    margin-bottom: 96px;
  }

  .profile-container__inputs-container {
    margin-bottom: 210px;
  }
}

@media screen and (max-width: 475px) {
  .profile-container {
    padding: 70px 40px 30px;
  }

  .profile-container__title {
    margin-bottom: 80px;
  }

  .profile-container__form {
    min-height: 472px;
    display: flex;
    flex-direction: column;
  }

  .profile-container__inputs-container {
    flex-grow: 1;
  }

  .profile-container__form-button {
    font-size: 12px;
  }
}
