.header-container {
  max-width: 1280px;
  padding: 29px 70px;
  background-color: #F3C1F8;
  display: flex;
  justify-content: space-between;
}

/* link */
.header-container__logo-link {
  transition: opacity 0.3s ease;
}

.header-container__logo-link:hover {
  opacity: .8;
}