.register-container {
  padding: 70px 0;
}

.register-container__heading {
  max-width: 396px;
  padding-bottom: 40px;
  margin: 0 auto;
}

.register-container__logo {
  width: 38px;
  height: 38px;
  margin-bottom: 40px;
}

.register-container__title {
  font-size: 24px;
  font-weight: 500;
}

.register-container__form {
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .register-container {
    padding: 232px 0;
  }
}

@media screen and (max-width: 475px) {
  .register-container {
    padding: 56px 30px 30px;
  }

  .register-container__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
  }

  .register-container__logo {
    margin-bottom: 50px;
  }
}
