.login-container {
  max-width: 1280px;
  padding: 70px 0;
}

.login-container__heading {
  max-width: 396px;
  padding-bottom: 40px;
  margin: 0 auto;
}

.login-container__logo {
  width: 38px;
  height: 38px;
  margin-bottom: 40px;
}

.login-container__title {
  font-size: 24px;
  font-weight: 500;
}

.login-container__form {
  margin: 0 auto;
}