.gamburger-menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 44px;
  height: 44px;
  padding: 10px 8px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.gamburger-menu-container:hover {
  opacity: 0.8;
}

.gamburger-menu-container__item {
  display: block;
  width: 28px;
  height: 3px;
  background: #000;
}

@media screen and (max-width: 375px) {
  .gamburger-menu-container {
    width: 40px;
    height: 43px;
    padding: 12.5px 9px;
  }
}
