.navigation-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation-container_type_authorized {
  width: 100%;
}

.navigation-container__pages-links {
  list-style: none;
  display: flex;
  column-gap: 16px;
  margin-left: 44px;
}

.navigation-container__pages-link {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.navigation-container__pages-link_selected {
  font-weight: 500;
}

.navigation-container__profile-link {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  display: block;
  padding: 8px 12px;
  border: 2px rgba(170, 170, 170, 0.2) solid;
  border-radius: 50px;
}

.navigation-container__profile-icon {
  display: inline-block;
  width: 12px;
  height: 14px;
  background: url("../../images/icons/user-min.svg") no-repeat center;
  margin-right: 7px;
}

.navigation-container__links {
  list-style: none;
  display: flex;
  column-gap: 30px;
}

.navigation-container__link {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  background: transparent;
}

.navigation-container__link_type_signup {
  border-radius: 3px;
  background: #000;
  color: #fff;
  padding: 8px 20px;
}

.navigation-container__gamburger-menu {
  display: none;
  cursor: pointer;
  transition: opacity .3s ease;
}

.navigation-container__gamburger-menu:hover {
  opacity: .8;
}

.navigation-container__gamburger-menu-item {
  display: none;
}

@media screen and (max-width: 768px) {
  .navigation-container__gamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 44px;
    height: 44px;
    padding: 10px 8px;
  }

  .navigation-container__gamburger-menu-item {
    display: block;
    width: 28px;
    height: 3px;
    background: #000;
  }
}

@media screen and (max-width: 475px) {
  .navigation-container__link {
    font-size: 10px;
  }

  .navigation-container__link_type_signup {
    padding: 5px 12px;
  }
}
